<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Comparator</title>
    <link rel='stylesheet' href="/style.css">
  </head>
  <body>
    <nav>
      <ul>
         <li><a href="/">Home</a></li>
         <li><a href="/welcome">Welcome</a></li>
         <li><a href="/The-game/:player1/:player2">The_game</a></li>
    </ul>
    </nav>
    <%=yield%>
  </body>
</html>
